@import "tailwindcss";

@theme {
  --font-genos: "Genos", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-studio-dark: #070525;
  --color-studio-hero: #241BA8;
  --color-studio-bg: #EFEFEF;
}

@layer base {
  body {
    background-color: var(--color-studio-bg);
    font-family: var(--font-roboto);
    color: #1a1a1a;
  }
}